@font-face {
    font-family: poppinsextra;
    src: url(../ist263/project/fonts/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: poppinsbold;
    src: url(../ist263/project/fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: poppins;
    src: url(../ist263/project/fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: poppinslight;
    src: url(../ist263/project/fonts/Poppins-Light.ttf);
}

/*DO THREE MEDIA QUERIES FOR DIFFERENT WIDTHS */
/*set max-width for experience so it doesnt smush */

@media only screen and (max-width: 450px){
    #socials {display: none;}
}
@media only screen and (max-width: 600px) {
    .nothome {
        font-size: 13px;
    }
    #wordmark {
        width: 75px;
        height: auto;
    }
    h1 {
        font-size: 65px;
    }
}
@media only screen and (max-width: 450px) {
    .nothome {
        font-size: 10px;
    }
}

    ul li{list-style-type: none;}


    nav {
         
        display: flex;
        justify-content:flex-end;
    }
    nav div {
        padding: 5px;
    }
    .navwide {
        justify-content: space-between;
    }
    .navsplit {
        display: flex;
    }
    .nothome {
        text-decoration: none;
        font-family: poppinsbold;
        font-size: 20px;
        color:#373535;
    }
    .nothome a:visited {
        text-decoration: none;
    }
    .nothome a:hover{
        color: #373535;
    }

    #nh1 {
        color:#FF66C4;
    }
    #nh2 {
        color:#F8AEDC;
        padding-left: 15px;
    }
    #nh3 {
        color:#B2DCFF;
        padding-right: 15px;
    }
    #nh4 {
        color:#52B1FF;
    }
 

h1 {
    font-family: poppinsextra;

}
h2 {
    font-family: poppinsextra;
}

p {
    font-family: poppins;
}
li {
    font-family: poppins;
}
body{
    text-decoration: none;
}

.link{
    font-family: poppinsbold;
    font-size: 15px;
    background-color:#FFFEF5; 
    color:#FF66C4;
    padding-left: 10px;
    padding-right: 10px;
}
.link a:visited {
    text-decoration: none;
}

body{
    background-color: #FFFEF5;
    padding: 20px;
}

.footer {
    color: #373535;
    padding-top:30px;
    display: flex;
    justify-content: space-between;
}







