body {
    background-color: #ffffff;
}
p {
   color: #000000 
}
h1 {
    color: #61a0af
}
.links {
    color: #f06c9b
}
nav {
    background-color: #f9b9b7 ;
    padding: 10px;
    margin-bottom: 30px;
}
nav a {color:#ffffff}

nav a:hover {background-color: #f5d491;}