@font-face {
    font-family: rozhaone;
    src: url(../fonts/RozhaOne-Regular.ttf);
}
@font-face {
    font-family: questrial;
    src: url(../fonts/Questrial-Regular.ttf);
}
@media only screen and (min-width: 1125px){
    .nav2 {display: none;}
    }
    @media only screen and (max-width: 1125px){
    .menu {display: none;}
    }
@media only screen and (max-width: 1125px){
    
}

    ul li{list-style-type: none;}

    .nav2 {
        width: 100%;
        height: 60px;
        background-color:#D6D0FF;
    }
    .nav2 ul li a{
        display:block;
        font-size: 15px;
        padding: 3px 10px;
        text-decoration: none;
    }
    .nav2 ul li ul{
        display:none;
        position:absolute;
        background-color:#A98E79;
    }
    .nav2 ul li:hover ul{
        display:block;
    }
    .nav2 ul li ul li{
       width: 150px;
    }
    .nav2 ul li ul a:hover{
        background-color:#D6D0FF;
    }
    .nav2 ul li {
        position: relative;
    }

nav {
    color: #513E32;
    font-family: questrial;
    height: 40px;
    text-align: center;
    justify-content: space-around;
    display: flex;
    text-decoration: none;
    font-size: 20px;
}
.nothome {
    font-size: 15px;
}
 

h1 {
    color: #A79AFC;
    font-family: rozhaone;

}
h2 {
    color: #A79AFC;
    font-family: rozhaone;
}
h3{
    color:#513E32;
}
h5 {
    color:#513E32;
}
p {
    font-family: questrial;
}
li {
    font-family: questrial;
}
body{
    text-decoration: none;
}

.link{
    font-family: rozhaone;
    font-size: 15px;
    color:#A79AFC;
    background-color: #D6D0FF; 

}
body{
    background-color: #D6D0FF;
}

