@font-face {
    font-family: rozhaone;
    src: url(../fonts/RozhaOne-Regular.ttf);
}
@font-face {
    font-family: questrial;
    src: url(../fonts/Questrial-Regular.ttf);
}

nav {
    background-color: #A98E79;
    color: #513E32;
    font-family: questrial;
    height: 70px;
    text-align: center;
    padding-top: 10px;
    justify-content: space-around;
    display: flex;
}

h1 {
    color: #A79AFC;
    font-family: rozhaone;

}
h2 {
    color: #A79AFC;
    font-family: rozhaone;
}
h3{
    color:#513E32;
}
h5 {
    color:#513E32;
}
p {
    font-family: questrial;
}
li {
    font-family: questrial;
}
